$l-blue: #03a9f4;
$purple: #4a148c;

.extra-margin {
  margin: 1rem 0 2.5rem;
}

.input-search {
  margin-left: 10px;
}

.card.ex {
  height: 500px;
}

.pagination {
  background-color: $l-blue;

  a {
    margin-left: 20px;
  }

  .current {
    color: $purple;
    font-weight: bold;
    margin-left: 15px;
  }
}

.card-comment {
  margin: 10px;
}

.comment-content {
  word-wrap: break-word;
}

.drop {
  display: block;
}

.box {
  display: none;
}

.drop:hover .box {
  display: block;
}
